# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
env/
.env
ENV/

# OS files
.DS_Store
Thumbs.db

# Airflow runtime files
airflow/logs/
airflow/airflow.db
airflow/airflow-webserver.pid

# Local Data files (Lakehouse layers)
data/raw/*.csv
data/raw/*.parquet
data/processed/*.csv
data/processed/*.txt
data/silver/
data/gold/

# Streamlit config / cache
.streamlit/
pages/__pycache__/

# Local Spark Warehouse / Metastore
spark-warehouse/
warehouse/
